# .env.example
# Copy this file to .env and replace the values with your own

DB_URL=jdbc:postgresql://db:5432/payloadwatch_local
DB_USERNAME=postgres
DB_PASSWORD=your_secure_password
COGNITO_ISSUER_URI=https://cognito-idp.[region].amazonaws.com/[your_pool_id]
COGNITO_CLIENT_ID=your_cognito_app_client_id
AWS_REGION=your_aws_region
